[submodule "rust_native_storage_library"]
	path = rust_native_storage_library
	url = git@github.com:second-state/rust_native_storage_library.git
[submodule "ssvm-core"]
	path = ssvm-core
	url = git@github.com:second-state/SSVM.git
